*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI,sans-serif;
}

body{
background:#0f172a;
color:white;
}

nav{
background:#111827;
padding:20px 8%;
display:flex;
justify-content:space-between;
align-items:center;
}

.logo{
font-size:28px;
font-weight:bold;
color:#38bdf8;
}

ul{
display:flex;
gap:20px;
list-style:none;
}

a{
color:white;
text-decoration:none;
}

section{
padding:80px;
text-align:center;
}

.hero{
height:90vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}

span{
color:#38bdf8;
}

.btn{
background:#38bdf8;
padding:12px 25px;
display:inline-block;
margin-top:20px;
color:black;
font-weight:bold;
border-radius:10px;
}

.card{
background:#1e293b;
padding:20px;
margin:15px;
border-radius:10px;
}